@tailwind base;
@tailwind components;
@tailwind utilities;

.react-modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.react-modal-content {
  position: relative;
  max-height: 90vh;
  z-index: 90;
}

.ql-container {
  background-color: #fff;
  font-size: 16px!important;
}

.ql-editor {
  white-space: normal!important;
}
